html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height:150%; width:100%; font-size:14px;margin:0;padding:0;font-family:"微软雅黑","Helvetica",STHeiTi,sans-serif!important;background:#396dd1;}
body{}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-user-select:none}
a{text-decoration:none!important;color:#000}
ol, ul {list-style: none;}
a:focus, a:hover{color:#1AA1FF}
.hide{display:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
*:focus { outline: none; } 
table {border-collapse: collapse;border-spacing: 0;}
button[disabled], html input[disabled]{background-color:#DDD;}
.clear{clear:both}
.fr{float:right;}
.fl{float:left;}
.relative{position:relative}
.Mcenter { width: 100%;display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; -webkit-box-align: center; text-align: center;}
.textarea{outline:none!important; width:100%; height:80px;}
.Yauto{overflow-y:auto;}
.Hintsauto{height:auto!important;min-height:auto!important; overflow:none!important;}
.Hidden{overflow:hidden;}
.line-block{display:inline-block}
.lazyload img{background: url(../img/loading.gif) 50% no-repeat;}

/**/
.main{width:1200px;margin:0 auto;}

/*背景颜色*/
.nobg{background:none!important;}
.bgff{background:#fff;}
.bg00{background:#000;}
.bgcc{background:#ccc;}
.bg_f3{background:#f3f3f3;}

/*文字颜色*/
.color_ff{color:#fff!important;}
.color_cc{color:#ccc!important;}
.color_33{color:#333!important;}
.color_66{color:#666!important;}
.color_99{color:#999!important;}

/*字体大小*/
.font12{font-size:12px!important;}
.font14{font-size:14px!important;}
.font16{font-size:16px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.font22{font-size:22px!important;}
.font24{font-size:24px!important;}
.font26{font-size:26px!important;}
.font28{font-size:28px!important;}

/*旋转*/
.rotate45{transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.rotate90{transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);-webkit-transform:rotate(90deg);}
.rotate_45{transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.rotate_90{transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}

/*鼠标经过变大的样式*/
.Pimg_hover{transition:1s;}
.Pimg_hover:hover{transform: scale(1.1, 1.1);transition: 1s transform;}

/**/
.input-text,.textarea,.Winput{box-sizing:border-box;padding-left:5px;border:solid 1px #ddd;-webkit-transition:all 0.2s linear 0s; -moz-transition:all 0.2s linear 0s; -o-transition:all 0.2s linear 0s;  transition:all 0.2s linear 0s}
.input-text:hover,.textarea:hover{border: solid 1px #3bb4f2}
/*得到焦点后*/
.input-text.focus,textarea.focus{border:solid 1px #0f9ae0 \9;border-color:rgba(82,168,236,0.8);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)}
/*不可点击*/
.input-text.disabled,.textarea.disabled,.input-text.disabled.focus,.textarea.disabled.focus{background-color:#ededed; cursor:default;border-color: #ddd;-webkit-box-shadow:inset 0 2px 2px #e8e7e7; -moz-box-shadow:inset 0 2px 2px #e8e7e7;  box-shadow:inset 0 2px 2px #e8e7e7}
/*只读状态*/
.input-text.disabled,.textarea.disabled{background-color:#e6e6e6; cursor:default}
input[type="text"],select,textarea{outline:none!important; border-radius:0;-webkit-appearance:none; -moz-appearance: none;} 
input{outline:none!important; border-radius:0;} 
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],input[type="password"]{-webkit-appearance:none;outline:none}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue","Helvetica,tahoma,arial","WenQuanYi Micro Hei","Verdana,sans-serif","\5B8B\4F53";color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}

/*文字对齐方向*/
.center{text-align:center}.text-l{text-align:left}.text-r{text-align:right}

/*边框样式*/
.noborder{border:none!important;}
.noborL{border-left:none!important;}
.noborR{border-right:none!important;}
.noborT{border-top:none!important;}
.noborB{border-bottom:none!important;}
.bor_e6{border:1px solid #e6e6e6;}

/*边框圆角*/
.radius3{border-radius:3px!important;}
.radius4{border-radius:4px!important;}

/*边框阴影*/
.box_Wshadow1{box-shadow:0 0 15px 1px #f2f2f2;}
/*鼠标经过边框阴影*/
.box_Hshadow1:hover{box-shadow:0 0 15px 1px #f2f2f2;}
/**/
.Validform_error{background-color:#fbe2e2!important; border-color:#c66161!important; color:#c00!important}
#Validform_msg{display:none}
/*文字单行溢出省略号*/
.text-overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

/*margin*/
.Mg0{margin:0!important;}
.mt-0{margin-top:0px!important}.mt-5{margin-top:5px}.mt-10{margin-top:10px}.mt-15{margin-top:15px}.mt-20{margin-top:20px}.mt-25{margin-top:25px}.mt-30{margin-top:30px}.mt-35{margin-top:35px}.mt-40{margin-top:40px}.mt-45{margin-top:45px}.mt-50{margin-top:50px}.mt-60{margin-top:60px}.mt-70{margin-top:70px}.mt-80{margin-top:80px}.mt-100{margin-top:100px}
.mb-0{margin-bottom:0px!important}.mb-5{margin-bottom:5px}.mb-10{margin-bottom:10px}.mb-15{margin-bottom:15px}.mb-20{margin-bottom:20px!important}.mb-25{margin-bottom:25px!important}.mb-30{margin-bottom:30px}.mb-40{margin-bottom:40px}.mb-50{margin-bottom:50px}.mb-60{margin-bottom:60px}.mb-65{margin-bottom:65px}.mb-75{margin-bottom:75px}
.ml-0{margin-left:0px!important}.ml-5{margin-left:5px}.ml-10{margin-left:10px}.ml-15{margin-left:15px}.ml-20{margin-left:20px}.ml-25{margin-left:25px!important}.ml-30{margin-left:30px}.ml-40{margin-left:40px}.ml-45{margin-left:45px;}.ml-50{margin-left:50px}.ml-60{margin-left:60px}.ml-70{margin-left:70px}.ml-80{margin-left:80px}.ml-110{margin-left:110px}
.mr-0{margin-right:0px!important}.mr-5{margin-right:5px}.mr-10{margin-right:10px}.mr-15{margin-right:15px}.mr-20{margin-right:20px}.mr-25{margin-right:25px!important}.mr-30{margin-right:30px}.mr-40{margin-right:40px}.mr-50{margin-right:50px}.mr-70{margin-right:70px}

/*padding*/
.plr20{padding-left:20px; padding-right:20px;}
.Pd0{padding:0!important;}
.plr5{padding-left:5px; padding-right:5px;}
.pd-5{padding:5px}.pd-10{padding:10px}.pd-15{padding:15px}.pd-20{padding:20px}
.pt-0{padding-top:0px!important;}.pt-5{padding-top:5px}.pt-10{padding-top:10px}.pt-20{padding-top:20px}.pt-30{padding-top:30px}.pt-35{padding-top:35px}.pt-50{padding-top:50px}.pt-60{padding-top:60px}.pt-80{padding-top:80px}.pt-90{padding-top:90px}
.pb-0{padding-bottom:0px!important;}.pb-5{padding-bottom:5px}.pb-10{padding-bottom:10px}.pb-20{padding-bottom:20px}.pb-30{padding-bottom:30px}.pb-40{padding-bottom:40px}.pb-50{padding-bottom:50px}.pb-75{padding-bottom:75px}.pb-90{padding-bottom:90px}.pb-120{padding-bottom:120px}.pb-200{padding-bottom:200px}
.pl-0{padding-left:0px!important;}.pl-5{padding-left:5px}.pl-10{padding-left:10px}.pl-20{padding-left:20px}.pl-30{padding-left:30px}.pl-35{padding-left:35px}.pl-40{padding-left:40px}.pl-50{padding-left:50px}.pl-70{padding-left:70px}
.pr-0{padding-right:0px!important;}.pr-5{padding-right:5px}.pr-10{padding-right:10px}.pr-20{padding-right:20px}.pr-60{padding-right:60px}

/*width*/
.W50{width:50px;}.W55{width:55px!important;}.W80{width:80px!important;}.W90{width:90px;}.W110{width:110px;}.W120{width:120px!important;}.W160{width:160px!important;}.W200{width:200px!important;}.W240{width:240px;}.W280{width:280px;}.W300{width:300px!important;}.W900{width:900px!important;}

/*百分比宽度*/
.WW10{width:10%!important;}.WW20{width:20%!important;}.WW25{width:25%!important;}.WW30{width:30%!important;}.WW40{width:40%!important;}.WW50{width:50%!important;}.WW60{width:60%!important;}.WW70{width:70%!important;}.WW80{width:80%!important;}.WW90{width:90%!important;}.WW100{width:100%!important;}

/*height*/
.H20{height:20px!important;}
.IH25{height:25px}.H25{height:25px;line-height:25px;}
.IH30{height:30px;}.H30{height:30px!important;line-height:30px!important;}
.IH35{height:35px;}.H35{height:35px;line-height:35px;}
.IH40{height:40px;}.H40{height:40px;line-height:40px;}
.IH45{height:45px;}.H45{height:45px;line-height:45px;}
.IH50{height:50px;}.H50{height:50px;line-height:50px!important;}
.IH60{height:60px;}.H60{height:60px;line-height:60px!important;}
.H65{height:65px;line-height:65px!important;}
.IH80{height:80px;}.H80{height:80px;line-height:80px;}
.IH90{height:90px;}.H90{height:90px;line-height:90px!important;}
.H120{height:120px;line-height:120px!important;}
.HH100{height:100%!important;}

/*按钮*/
.btn,.btn2{display:inline-block;box-sizing:border-box;cursor:pointer;text-align:center;font-weight:400;white-space:nowrap;vertical-align: middle;-moz-padding-start:npx; -moz-padding-end:npx;border:solid 1px #ddd; background-color:#fff; width:auto;*zoom:1;*overflow:visible;-webkit-transition:background-color .1s linear;	-moz-transition:background-color .1s linear;	-o-transition:background-color .1s linear;	transition:background-color .1s linear}
a.btn:hover,a.btn:focus,a.btn:active,a.btn.active,a.btn.disabled,a.btn,a.btn2:hover,a.btn2:focus,a.btn2:active,a.btn2.active,a.btn2.disabled,a.btn2[disabled]{text-decoration:none}
.btn:active,.btn.active,.btn2:active,.btn2.active{background-color:#ccc}
.btn:first-child,.btn2:first-child{*margin-left:0}
.btn.active,.btn:active,.btn2.active,.btn2:active{-moz-box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset;-webkit-box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset; box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset}
/*默认——灰色	通常用于取消*/
.btn-default{background-color:#e6e6e6;border-color:#e6e6e6}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active{color:#333;background-color:#c7c7c7;border-color:#c7c7c7}
/*主要——主色	通常用于确定、提交、购买、支付等*/
.btn-primary{color:#fff;background-color:#5a98de; border-color:#5a98de}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active{color:#fff;background-color:#0a6999;border-color:#0a6999}
/*次要按钮*/
.btn-secondary{color:#fff;background-color:#3bb4f2; border-color:#3bb4f2}
.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active,.btn-secondary.active{color:#fff;background-color:#0f9ae0;border-color:#0f9ae0}
/*成功*/
.btn-success{color:#fff;background-color:#5eb95e; border-color:#5eb95e}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active{color:#fff;background-color:#429842;border-color:#429842}
/*警告*/
.btn-warning{color:#fff;background-color:#ff9e00; border-color:#ff9e00}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active{color:#fff;background-color:#F37B1D;border-color:#F37B1D;outline:none}
/*危险*/
.btn-danger{color:#fff;background-color:#dd514c; border-color:#dd514c}.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active{color:#fff;background-color:#c62b26;border-color:#c62b26}

/*边框样式*/
.noborder{border:none!important;}
.noborL{border-left:none!important;}
.noborR{border-right:none!important;}
.noborT{border-top:none!important;}
.noborB{border-bottom:none!important;}
.bor_d9{border:1px solid #d9d9d9;}
.bor_d7{border:1px solid #F7F7F7}/*很淡的灰色边框*/
.bor_e3{border:1px solid #e3e3e3;}
.borB_e3{border-bottom:1px solid #e3e3e3;}
.borR_dae3{border-right:1px dashed #e3e3e3;}
.borB_dae3{border-bottom:1px dashed #e3e3e3;}

/*图标通用*/
.qicont{background:url(../img/qicont.png) no-repeat;}

/*标题文字下面线*/
.line{font-size: 0px; line-height: 0px; border-top: solid 1px #eee; float: none}
.line2{height:45px; line-height:45px; font-size:1.2em; border-bottom:1px solid #eaeaea; position:relative;padding:0 10px;}/*文字下面有亮线*/
.line2 span{height:45px; line-height:45px; padding:0 28px 0 10px; border-bottom:2px solid #0099ff; position:absolute;bottom:-2px;left:0;letter-spacing:2px;word-spacing:8px;font-weight:600;color:#333333;}
.line3{height:40px; line-height:40px; font-size:20px; border-bottom:1px solid #DFDFDF; position:relative;}
.line3 span{height:40px; line-height:40px; padding:0 8px 0 12px; border-bottom:2px solid #2a8631; position:absolute;bottom:-2px;left:0;}
.line3 font{color:#999999;margin-left:5px;font-size:16px;}
.line4{height:40px; line-height:40px; font-size:16px; border-bottom:2px solid #DFDFDF; position:relative;}/*文字下面有亮线*/
.line4 span{height:40px; line-height:40px; padding:0 30px 0 12px; border-bottom:2px solid #ff9c01; position:absolute;bottom:-2px;left:0;}

/*必填*/
.Required{font-size:1em;color:red;}

/*发送验证码*/
.Rebtn{background:#0099ff;color:#fff;border:1px solid #0099ff;display:inline-block;width:39%;margin-left:1%;cursor:pointer;}

/*底部版权*/
footer{width:100%;height:100px;border-top:3px solid #264e96;}
.foot_box{padding:20px 0;}
.foot_logo{height:60px;width:20%;overflow:hidden;float:left;position:relative;}
.foot_logo img{max-height:100%;max-width:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.foot_copy{float:left;padding-left:10px;width:80%;}
.foot_copy ul li{font-size:12px;color:#fff;width:100%;overflow:hidden;}
.foot_copy ul li:nth-child(1) span{float:left;}
.foot_copy ul li:nth-child(1) dd{float:left;margin-right:10px;}
.foot_copy ul li:nth-child(1) dd a{color:#fff;}
.foot_copy ul li:nth-child(1) dd a:hover{color:orange;}